# Required – Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_OWNER_ID=
TELEGRAM_TARGET_CHAT_ID=

# Optional – Telegram
# TELEGRAM_SKIP_SETTING_COMMANDS=false
# TELEGRAM_SKIP_STARTUP_MESSAGE=false
# TELEGRAM_SILENT_CONFIRMATION=true
# TELEGRAM_CONFIRMATION_TYPE=emoji

# Optional – WhatsApp
# WHATSAPP_SESSION_NAME=watgbridge

# Optional – General
# TIME_ZONE=UTC
# TIME_FORMAT=02 Jan, 2006 - Mon @ 15:04
# DEBUG_MODE=false
# CONFIG_PATH=/data/config.yaml
