[Unit]
Description=Bridge between WhatsApp and Telegram
After=network.target tgbotapi.service

[Service]
Type=idle
Restart=on-failure
User=akshettrj
RuntimeMaxSec=1d
ExecStart=/bin/bash -c 'sleep 20 && cd /home/akshettrj/work/go/src/watgbridge && ./watgbridge'

[Install]
WantedBy=multi-user.target
