[Unit]
Description=Bridge between WhatsApp and Telegram
After=network.target tgbotapi.service

[Service]
Type=idle
Restart=on-failure
User=root
RuntimeMaxSec=1d
ExecStart=/bin/bash -c 'sleep 20 && cd /home/akshettrj/work/go/src/wa-tg-bridge && ./wa-tg-bridge'

[Install]
WantedBy=multi-user.target
